--Mã số sinh viên: 
--Họ tên sinh viên: 
--Số máy tính:		
--Chú ý: cuối giờ nộp file .sql này (MSSV_HoTenKhongDau_SoMay.sql) vào ổ Z:\

--Câu 1: Hãy viết (một hay hai procedure đều được) Stored procedure tên TaoPhanManh để tạo và lấy dữ liệu cho các phân mảnh 
--		của 2 bảng Sách và Nhà xuất bản, biết:
--		•	Bảng NhàXuấtBản được phân mảnh ngang chính dựa vào cột LoạiHình. 
--			Giả sử cột LoạiHình chỉ có 2 giá trị là “Tư nhân” và “Nhà nước”. 
--		•	Bảng Sách được phân mảnh ngang dẫn xuất theo các phân mảnh của bảng NhàXuấtBản.
--		Tạo Stored procedure phân mảnh bảng NXB:
CREATE PROC TaoPhanManhNXB
AS
	IF OBJECT_ID('NXB_TuNhan', 'U') IS NOT NULL DROP TABLE NXB_TuNhan;
	IF OBJECT_ID('NXB_NhaNuoc', 'U') IS NOT NULL DROP TABLE NXB_NhaNuoc;

	SELECT * INTO NXB_TuNhan FROM NhaXuatBan WHERE LoaiHinh = N'Tư nhân'
	SELECT * INTO NXB_NhaNuoc FROM NhaXuatBan WHERE LoaiHinh = N'Nhà nước'
GO
--		Exec Stored procedure phân mảnh bảng NXB:
EXEC TaoPhanManhNXB
GO

--		Tạo Stored procedure phân mảnh bảng Sách:
CREATE PROC TaoPhanManhSach
AS
	IF OBJECT_ID('Sach_TuNhan', 'U') IS NOT NULL DROP TABLE Sach_TuNhan;
	IF OBJECT_ID('Sach_NhaNuoc', 'U') IS NOT NULL DROP TABLE Sach_NhaNuoc;

	SELECT * INTO Sach_TuNhan FROM Sach WHERE MaNXB IN (SELECT MaNXB FROM NXB_TuNhan)
	SELECT * INTO Sach_NhaNuoc FROM Sach WHERE MaNXB IN (SELECT MaNXB FROM NXB_NhaNuoc)
GO
--		Exec Stored procedure phân mảnh bảng Sách:
EXEC TaoPhanManhSach
GO


--Sinh viên hãy tạo 2 Stored procedure cho mỗi câu sau đây ở mức 1 mức 2:
--Câu 2: Tạo 2 stored procedure tên DSSachMuc1 và DSSachMuc2 để lập danh sách các quyển sách
--		 (4 cột: MãSách, TựaSách, MãNXB, TênNXB), tham số vào là @TênNXB.
--		Sau đó dùng 2 stored procedure này để lập danh sách các quyển sách có tên NXB theo đề thi yêu cầu.
--		Tạo Stored procedure mức 1:
CREATE PROC DSSachMuc1
@TenNXB NVARCHAR(50)
AS
	IF (@TenNXB IS NULL OR @TenNXB = '')
		PRINT N'Không nhập tên NXB!'
	ELSE IF NOT EXISTS (SELECT * FROM NhaXuatBan WHERE TenNXB = @TenNXB)
		PRINT N'Không tìm thấy tên NXB!'
	ELSE
		SELECT s.MaSach, s.TuaSach, n.MaNXB, n.TenNXB
		FROM NhaXuatBan n 
		JOIN Sach s ON n.MaNXB = s.MaNXB
		WHERE n.TenNXB = @TenNXB
GO
--		Exec Stored procedure mức 1:
PRINT N'--- TEST CÂU 2 - MỨC 1 ---'
EXEC DSSachMuc1 N'Sự thật'
EXEC DSSachMuc1 N'Mỹ thuật'
EXEC DSSachMuc1 N'Công nghệ'
EXEC DSSachMuc1 NULL
GO

--		Tạo Stored procedure mức 2:
CREATE PROC DSSachMuc2
@TenNXB NVARCHAR(50)
AS
	IF (@TenNXB IS NULL OR @TenNXB = '')
		PRINT N'Không nhập tên NXB!'
	ELSE IF NOT EXISTS (SELECT * FROM NXB_TuNhan WHERE TenNXB = @TenNXB) 
		AND NOT EXISTS (SELECT * FROM NXB_NhaNuoc WHERE TenNXB = @TenNXB)
		PRINT N'Không tìm thấy tên NXB!'
	ELSE
	BEGIN
		-- Dùng UNION để gom kết quả từ cả 2 phân mảnh (vì khóa phân mảnh là Loại Hình, không phải Tên)
		SELECT s.MaSach, s.TuaSach, n.MaNXB, n.TenNXB
		FROM NXB_TuNhan n JOIN Sach_TuNhan s ON n.MaNXB = s.MaNXB
		WHERE n.TenNXB = @TenNXB
		UNION
		SELECT s.MaSach, s.TuaSach, n.MaNXB, n.TenNXB
		FROM NXB_NhaNuoc n JOIN Sach_NhaNuoc s ON n.MaNXB = s.MaNXB
		WHERE n.TenNXB = @TenNXB
	END
GO
--		Exec Stored procedure mức 2:
PRINT N'--- TEST CÂU 2 - MỨC 2 ---'
EXEC DSSachMuc2 N'Sự thật'
EXEC DSSachMuc2 N'Mỹ thuật'
EXEC DSSachMuc2 N'Công nghệ'
EXEC DSSachMuc2 NULL
GO


--Câu 3: Tạo 2 stored procedure tên ThemNXBMuc1 và ThemNXBMuc2 để thêm 1 hàng dữ liệu. 
--		Các tham số vào là @MãNXB, @TênNXB, và @LoạiHình. 
--		Sau đó dùng 2 stored procedure này để thêm các hàng dữ liệu đề thi yêu cầu.
--		Tạo Stored procedure mức 1:
CREATE PROC ThemNXBMuc1
@MaNXB NVARCHAR(10),
@TenNXB NVARCHAR(50),
@LoaiHinh NVARCHAR(50)
AS
	IF (@MaNXB IS NULL)
		PRINT N'Không thêm dữ liệu được vì không có giá trị mã NXB!'
	ELSE IF (@TenNXB IS NULL OR @LoaiHinh IS NULL)
		PRINT N'Không thêm dữ liệu được vì thiếu thông tin tên NXB hoặc Loại hình!'
	ELSE IF (@LoaiHinh NOT IN (N'Tư nhân', N'Nhà nước'))
		PRINT N'Không thêm dữ liệu được vì loại hình không hợp lệ!'
	ELSE IF EXISTS (SELECT * FROM NhaXuatBan WHERE MaNXB = @MaNXB)
		PRINT N'Không thêm dữ liệu được vì trùng mã NXB!'
	ELSE
	BEGIN
		INSERT INTO NhaXuatBan VALUES (@MaNXB, @TenNXB, @LoaiHinh)
		PRINT N'Thêm dữ liệu thành công!'
	END
GO
--		Exec Stored procedure mức 1:
PRINT N'--- TEST CÂU 3 - MỨC 1 ---'
EXEC ThemNXBMuc1 NULL, N'Tương lai', N'Tư nhân'
EXEC ThemNXBMuc1 N'NXB10', N'Tương lai', N'Tư nhân'
EXEC ThemNXBMuc1 N'NXB11', N'Giáo dục', N'Nhà nước'
EXEC ThemNXBMuc1 N'NXB1', N'Thiếu niên', N'Nhà nước'
EXEC ThemNXBMuc1 N'NXB2', N'Thanh niên', N'Nhà nước'
GO

--		Tạo Stored procedure mức 2:
CREATE PROC ThemNXBMuc2
@MaNXB NVARCHAR(10),
@TenNXB NVARCHAR(50),
@LoaiHinh NVARCHAR(50)
AS
	IF (@MaNXB IS NULL)
		PRINT N'Không thêm dữ liệu được vì không có giá trị mã NXB!'
	ELSE IF (@TenNXB IS NULL OR @LoaiHinh IS NULL)
		PRINT N'Không thêm dữ liệu được vì thiếu thông tin tên NXB hoặc Loại hình!'
	ELSE IF (@LoaiHinh NOT IN (N'Tư nhân', N'Nhà nước'))
		PRINT N'Không thêm dữ liệu được vì loại hình không hợp lệ!'
	ELSE IF EXISTS (SELECT * FROM NXB_TuNhan WHERE MaNXB = @MaNXB) 
		OR EXISTS (SELECT * FROM NXB_NhaNuoc WHERE MaNXB = @MaNXB)
		PRINT N'Không thêm dữ liệu được vì trùng mã NXB!'
	ELSE
	BEGIN
		IF @LoaiHinh = N'Tư nhân'
			INSERT INTO NXB_TuNhan VALUES (@MaNXB, @TenNXB, @LoaiHinh)
		ELSE IF @LoaiHinh = N'Nhà nước'
			INSERT INTO NXB_NhaNuoc VALUES (@MaNXB, @TenNXB, @LoaiHinh)
		
		PRINT N'Thêm dữ liệu thành công!'
	END
GO
--		Exec Stored procedure mức 2:
PRINT N'--- TEST CÂU 3 - MỨC 2 ---'
-- (Đổi mã NXB test để không bị trùng với kết quả đã chạy ở Mức 1)
EXEC ThemNXBMuc2 NULL, N'Tương lai', N'Tư nhân'
EXEC ThemNXBMuc2 N'NXB10_M2', N'Tương lai', N'Tư nhân'
EXEC ThemNXBMuc2 N'NXB11_M2', N'Giáo dục', N'Nhà nước'
EXEC ThemNXBMuc2 N'NXB1', N'Thiếu niên', N'Nhà nước'
EXEC ThemNXBMuc2 N'NXB2', N'Thanh niên', N'Nhà nước'
GO


--Câu 4: Tạo 2 stored procedure tên SuaNXBMuc1 và SuaNXBMuc2 để sửa (update) 2 cột TênNXB và LoạiHình 
--		(không sửa cột MãNXB). Các tham số vào là @MãNXB, @TênNXB, và @LoạiHình, 
--		trong đó @MãNXB để xác định hàng dữ liệu cần sửa. 
--		Sau đó dùng 2 stored procedure này để sửa các hàng dữ liệu đề thi yêu cầu.
--		Tạo Stored procedure mức 1:
CREATE PROC SuaNXBMuc1
@MaNXB NVARCHAR(10),
@TenNXB NVARCHAR(50),
@LoaiHinh NVARCHAR(50)
AS
	IF (@MaNXB IS NULL)
		PRINT N'Không sửa dữ liệu được vì không có giá trị mã NXB!'
	ELSE IF (@LoaiHinh IS NULL)
		PRINT N'Không sửa dữ liệu được vì không có giá trị Loại hình!'
	ELSE IF (@LoaiHinh NOT IN (N'Tư nhân', N'Nhà nước'))
		PRINT N'Không sửa dữ liệu được vì giá trị Loại hình không hợp lệ!'
	ELSE IF NOT EXISTS (SELECT * FROM NhaXuatBan WHERE MaNXB = @MaNXB)
		PRINT N'Không sửa dữ liệu được vì không tìm thấy có giá trị mã NXB!'
	ELSE
	BEGIN
		UPDATE NhaXuatBan
		SET TenNXB = @TenNXB, LoaiHinh = @LoaiHinh
		WHERE MaNXB = @MaNXB
		
		PRINT N'Sửa được dữ liệu và hiện thông báo thành công!'
	END
GO
--		Exec Stored procedure mức 1:
PRINT N'--- TEST CÂU 4 - MỨC 1 ---'
EXEC SuaNXBMuc1 NULL, N'Sáng tạo mới', N'Tư nhân'
EXEC SuaNXBMuc1 N'NXB1', N'Sáng tạo mới', NULL
EXEC SuaNXBMuc1 N'NXB1', N'Sáng tạo mới', N'Liên kết'
EXEC SuaNXBMuc1 N'NXB1', N'Sáng tạo mới', N'Tư nhân'
EXEC SuaNXBMuc1 N'NXB3', N'Thành công', N'Nhà nước'
EXEC SuaNXBMuc1 N'NXB6', N'Đất Việt', N'Tư nhân'
EXEC SuaNXBMuc1 N'NXB111', N'Kỹ thuật', N'Tư nhân'
GO

--		Tạo Stored procedure mức 2:
--IF OBJECT_ID('SuaNXBMuc2', 'P') IS NOT NULL DROP PROC SuaNXBMuc2;
GO
CREATE PROC SuaNXBMuc2
@MaNXB NVARCHAR(10),
@TenNXB NVARCHAR(50),
@LoaiHinh NVARCHAR(50)
AS
	IF (@MaNXB IS NULL)
		PRINT N'Không sửa dữ liệu được vì không có giá trị mã NXB!'
	ELSE IF (@LoaiHinh IS NULL)
		PRINT N'Không sửa dữ liệu được vì không có giá trị Loại hình!'
	ELSE IF (@LoaiHinh NOT IN (N'Tư nhân', N'Nhà nước'))
		PRINT N'Không sửa dữ liệu được vì giá trị Loại hình không hợp lệ!'
	ELSE IF NOT EXISTS (SELECT * FROM NXB_TuNhan WHERE MaNXB = @MaNXB) 
		AND NOT EXISTS (SELECT * FROM NXB_NhaNuoc WHERE MaNXB = @MaNXB)
		PRINT N'Không sửa dữ liệu được vì không tìm thấy có giá trị mã NXB!'
	
	-- TRƯỜNG HỢP 1: DỮ LIỆU ĐANG NẰM Ở PHÂN MẢNH "TƯ NHÂN"
	ELSE IF EXISTS (SELECT * FROM NXB_TuNhan WHERE MaNXB = @MaNXB)
	BEGIN
		UPDATE NXB_TuNhan SET TenNXB = @TenNXB, LoaiHinh = @LoaiHinh WHERE MaNXB = @MaNXB
		
		IF (@LoaiHinh = N'Nhà nước') -- Bị đổi loại hình sang Nhà nước thì phải dời
		BEGIN
			INSERT INTO dbo.NXB_NhaNuoc SELECT * FROM dbo.NXB_TuNhan WHERE MaNXB = @MaNXB
			INSERT INTO dbo.Sach_NhaNuoc SELECT * FROM dbo.Sach_TuNhan WHERE MaNXB = @MaNXB
			DELETE dbo.Sach_TuNhan WHERE MaNXB = @MaNXB
			DELETE dbo.NXB_TuNhan WHERE MaNXB = @MaNXB

			PRINT N'Đã sửa và có đổi loại hình sách.
			Đã dời NXB từ phân mảnh NXB_TuNhan sang phân mảnh NXB_NhaNuoc
			Đã dời sách của NXB từ phân mảnh Sach_TuNhan sang phân mảnh Sach_NhaNuoc'
		END
		ELSE
			PRINT N'Đã sửa nhưng không đổi loại hình sách'
	END

	-- TRƯỜNG HỢP 2: DỮ LIỆU ĐANG NẰM Ở PHÂN MẢNH "NHÀ NƯỚC"
	ELSE IF EXISTS (SELECT * FROM NXB_NhaNuoc WHERE MaNXB = @MaNXB)
	BEGIN
		UPDATE NXB_NhaNuoc SET TenNXB = @TenNXB, LoaiHinh = @LoaiHinh WHERE MaNXB = @MaNXB

		IF (@LoaiHinh = N'Tư nhân') -- Bị đổi loại hình sang Tư nhân thì phải dời
		BEGIN
			INSERT INTO dbo.NXB_TuNhan SELECT * FROM dbo.NXB_NhaNuoc WHERE MaNXB = @MaNXB
			INSERT INTO dbo.Sach_TuNhan SELECT * FROM dbo.Sach_NhaNuoc WHERE MaNXB = @MaNXB
			DELETE dbo.Sach_NhaNuoc WHERE MaNXB = @MaNXB
			DELETE dbo.NXB_NhaNuoc WHERE MaNXB = @MaNXB

			PRINT N'Đã sửa và có đổi loại hình sách.
			Đã dời NXB từ phân mảnh NXB_NhaNuoc sang phân mảnh NXB_TuNhan
			Đã dời sách của NXB từ phân mảnh Sach_NhaNuoc sang phân mảnh Sach_TuNhan'
		END
		ELSE
			PRINT N'Đã sửa nhưng không đổi loại hình sách'
	END
GO

--		Exec Stored procedure mức 2:
PRINT N'--- TEST CÂU 4 - MỨC 2 ---'
EXEC SuaNXBMuc2 NULL, N'Sáng tạo mới', N'Tư nhân'
EXEC SuaNXBMuc2 N'NXB1', N'Sáng tạo mới', NULL
EXEC SuaNXBMuc2 N'NXB1', N'Sáng tạo mới', N'Liên kết'
EXEC SuaNXBMuc2 N'NXB1', N'Sáng tạo mới', N'Tư nhân'
EXEC SuaNXBMuc2 N'NXB3', N'Thành công', N'Nhà nước'
EXEC SuaNXBMuc2 N'NXB6', N'Đất Việt', N'Tư nhân'
EXEC SuaNXBMuc2 N'NXB111', N'Kỹ thuật', N'Tư nhân'
GO


--Câu 5: Tạo 2 stored procedure tên XoaSachMuc1 và XoaSachMuc2 để xóa 1 hàng dữ liệu sách biết mã sách. 
--		Tham số vào là @MãSách để xác định hàng dữ liệu cần xóa. 
--		Sau đó dùng 2 stored procedure này để xóa các hàng dữ liệu có mã sách đề thi yêu cầu.
--		Tạo Stored procedure mức 1:
CREATE PROC XoaSachMuc1
@MaSach NVARCHAR(10)
AS
	IF (@MaSach IS NULL)
		PRINT N'Không nhập mã sách để xóa!'
	ELSE IF NOT EXISTS (SELECT * FROM Sach WHERE MaSach = @MaSach)
		PRINT N'Không tìm thấy sách để xóa!'
	ELSE
	BEGIN
		DELETE FROM Sach WHERE MaSach = @MaSach
		PRINT N'Xóa và báo thành công!'
	END
GO
--		Exec Stored procedure mức 1:
PRINT N'--- TEST CÂU 5 - MỨC 1 ---'
EXEC XoaSachMuc1 N'S004'
EXEC XoaSachMuc1 N'S005'
EXEC XoaSachMuc1 N'S123'
EXEC XoaSachMuc1 NULL
GO

--		Tạo Stored procedure mức 2:
CREATE PROC XoaSachMuc2
@MaSach NVARCHAR(10)
AS
	IF (@MaSach IS NULL)
		PRINT N'Không nhập mã sách để xóa!'
	ELSE IF NOT EXISTS (SELECT * FROM Sach_TuNhan WHERE MaSach = @MaSach) 
		AND NOT EXISTS (SELECT * FROM Sach_NhaNuoc WHERE MaSach = @MaSach)
		PRINT N'Không tìm thấy sách để xóa!'
	ELSE IF EXISTS (SELECT * FROM Sach_TuNhan WHERE MaSach = @MaSach)
	BEGIN
		DELETE FROM Sach_TuNhan WHERE MaSach = @MaSach
		PRINT N'Xóa và báo thành công!'
	END
	ELSE IF EXISTS (SELECT * FROM Sach_NhaNuoc WHERE MaSach = @MaSach)
	BEGIN
		DELETE FROM Sach_NhaNuoc WHERE MaSach = @MaSach
		PRINT N'Xóa và báo thành công!'
	END
GO
--		Exec Stored procedure mức 2:
PRINT N'--- TEST CÂU 5 - MỨC 2 ---'
EXEC XoaSachMuc2 N'S004'  -- (Nếu ở Mức 1 đã xóa S004 thì dòng này sẽ báo lỗi Không tìm thấy, đó là logic bình thường do db chung)
EXEC XoaSachMuc2 N'S005'
EXEC XoaSachMuc2 N'S123'
EXEC XoaSachMuc2 NULL
GO

--Cuối bài: nộp file .sql này (MSSV_HoTenKhongDau_SoMay.sql) vào ổ Z:\
-- HẾT ---------------------------------------------------------------------------------------------------